<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTtecAEwQucHnF2BQ36j1XJ52OTn_Fnbw</string>
	<key>GCM_SENDER_ID</key>
	<string>841034907172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryan.partyfrenzy</string>
	<key>PROJECT_ID</key>
	<string>partygames-6b0ed</string>
	<key>STORAGE_BUCKET</key>
	<string>partygames-6b0ed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841034907172:ios:68747c42fd05d12d7562b1</string>
</dict>
</plist>